<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a href="#">
                    <img src="img/logos/su_logo.png" class="img-responsive img-centered" alt="SU Logo">
                </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <a href="#">
                    <img src="img/logos/meta1.png" class="img-responsive img-centered" alt="Meta Logo">
                </a>
            </div>
        </div>
    </div>
</aside>
