<!-- About Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-muted">
                   Paragraph
                </p>
                <!-- Button to Open the Modal -->
                <div class="text-center" style="margin-top: 20px;">
                    <button type="button" class="btn btn-lg" style="background-color: grey; color: white;" data-toggle="modal" data-target="#hciModal">
                        WHAT IS HCI?
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- The Modal -->
<div class="modal fade" id="hciModal" tabindex="-1" role="dialog" aria-labelledby="hciModalLabel" aria-hidden="true" style="padding-right: 0 !important;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height: 100vh;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 42px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="hciModalLabel">What is Human-Computer Interaction?</h4>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
               Human-Computer Interaction is an interdisciplinary field of study interested in design, evaluation and implementation of interactive technology. Since Human-Computer Interaction studies the interaction between human and computer, it is associated with the study fields suach as human behavior, psychology, cognitive science, computer science and software engineering as well as ergonomics, graphic and industrial design, sociology, anthropology and educational sciences [1].

Human-Computer Interaction (HCI) has four main components: the user, task, tools / interface, the context. HCI studies requires the evaluation of obtained observations while the user performs certain tasks and habits of the user together. These data are used in the development process of interactive systems. After Vannevar Bush introduced the idea of ​​theoretical analog computer (MEMEX: memory extender) in 1945, Shackel conducted the first studies in HCI field [2]. In 1969, a periodical magazine "International Journal of Man-Machine Studies" was founded, in the 1970s "user friendly" (user-friendliness) concept was introduced, in 1976 NATO was sponsor for the "Man-Computer Interaction" related workshop.

Weinberg and Shneiderman have published the first book on the subject during these years [3, 4]. In 1982 the ACM (Association for Computing Machinery) launched the of SIGCH (Special Interest Group on Computer-Human Interaction) and CHI (International Conference for Human-Computer Interaction) conferences. In the late 1980s, four major magazines in the field of Human-Computer Interaction were continued to be published. During this period, the first industrial Human-Computer Interaction Laboratory was established,  in the 1990s with the development of web technologies, the importance of the HCI studies was increased and user-centered design began to come forward rather than technical/designer-centered design. Towards the end of 90s, the first HCI academic programs have been initiated in universities such as Carnegie Mellon University, Indiana University.

Booth draws the framework of Human Computer Interaction studies with titles below [5]:

- What are the characteristics of people that affect their use of technology? 
- What are the aspects of technology that impact people's use of technology?
- How do people obtain their interactive capabilities and conceptualizes them? 
- How do we match people's needs with technical resources?
- How can we design usable technologies?
- How does technology affect the organization? 

Some of the questions that reseraches on Human-Computer Interaction field seek answers for nowadays can be listed as follow:

- Is reading from screen harder than reading from paper?
- Which human skills related with interaction are affected by aging?
- Which color combinations does look better on the screen?
- How can a desginer test his/her designs better?
- How many users are required for a good interface evaluation? 
- How are good error messages written?
- Are there any guidelines available for icon design?
- How do we need to determine number of elements in the menus?

Today, Human-Computer Interaction studies are gaining importance in terms of growth in the population of computer users, proliferation in critical technological applications and understanding in human behaviour and mental process academically. Also, by demonstrating the falsity of the accepted assumptions, HCI studies try to engage designers and IT professonals to the platforms where the evaluations are made by scientific methods. For example, Norman showed that open menu structures are easier to use, Bailey showed that usability tests conducted with designers does not give accurate results [6].

Yrd. Doç. Dr. Cengiz Acartürk & Prof. Dr. Kürşat Çağıltay

References

[1] Çagıltay, K. E-dönüsümü Kullanabilmek? İnsan Bilgisayar Etkilesimi, Kullanılabilirlik ve e-Devlet Projeleri. Bilisim, 91, 2005, pp 16-17.

[2] Shackel, B. Ergonomics for a computer. Design, 120, 1959, pp 36-39.

[3] Shneiderman, B. Software Psychology: Human Factors in Computer and Information Systems. 1980, Cambridge, MA: Winthrop.

[4] Weinberg, G. M. The psychology of computer programming, 1971: Van Nostrand Reinhold.

[5] Booth, P. An Introduction to Human-Computer Interaction. 1989, Hove, UK: Lawrence Erlbaum Associates.

[6] Bailey, S. Iterative methodology and Designer Training in Human Computer Interface design. Proceedings of ACM INTERCHI'93 Conference on Human Factors in Computing Systems, 1993, pp 198-205.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Bootstrap CSS and JS for Modal Functionality -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
