<!-- Custom CSS -->
<style>
    /* Yalnızca modallar için geçerli olacak siyah arka plan ve beyaz metin */
    .team-member-modal .modal-content {
        background-color: #000;
        color: #fff;
    }
    .team-member-modal .modal-header {
        border-bottom: 1px solid #444;
    }
    .team-member-modal .modal-footer {
        border-top: 1px solid #444;
    }
    .team-member-modal .btn-dark {
        background-color: #000;
        border-color: #000;
    }
    .team-member-modal .btn-dark:hover {
        background-color: #444;
        border-color: #444;
    }
</style>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>

        <!-- First Row: Single Member -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="team-member">
                    <img src="img/team/1.png" class="img-responsive img-circle" alt="">
                    <h4>Kürşat Çağıltay</h4>
                    <!-- Modal Button -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#teamMemberModal0">More Info</button>
                </div>
            </div>
        </div>

        <!-- Second Row: Four Members -->
        <div class="row justify-content-center">
            <div class="col-md-3 text-center">
                <div class="team-member">
                    <img src="img/team/2.png" class="img-responsive img-circle" alt="">
                    <h4>Bilgehan Çağıltay</h4>
                    <!-- Modal Button -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#teamMemberModal1">More Info</button>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="team-member">
                    <img src="img/team/8.png" class="img-responsive img-circle" alt="">
                    <h4>Mohammad Javadian Farzaneh</h4>
                    <!-- Modal Button -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#teamMemberModal2">More Info</button>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="team-member">
                    <img src="img/team/6.png" class="img-responsive img-circle" alt="">
                    <h4>Faraz Badali Naghadeh</h4>
                    <!-- Modal Button -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#teamMemberModal3">More Info</button>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="team-member">
                    <img src="img/team/4.png" class="img-responsive img-circle" alt="">
                    <h4>Sine Mete</h4>
                    <!-- Modal Button -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#teamMemberModal4">More Info</button>
                </div>
            </div>
        </div>
        
        <!-- Modals -->
        <!-- Kürşat Çağıltay Modal -->
        <div class="modal fade team-member-modal" id="teamMemberModal0" tabindex="-1" role="dialog" aria-labelledby="teamMemberModalLabel0" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="teamMemberModalLabel0">Kürşat Çağıltay</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Kürşat Cagiltay earned his BS in Mathematics and MS in Computer Engineering from Middle East Technical University (METU). He holds a double Ph.D. in Cognitive Science and Instructional Systems Technology from Indiana University, USA. He directed the technical team that brought the Internet to Turkey in 1993.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Diğer takım üyeleri için modal yapılar burada... -->
        
    </div>
</section>
